{% extends "base.html.twig" %}

{% block title %}instagram{% endblock %}

{% block body %}
    <h1>Добро пожаловать в инстаграмм</h1>
    <p><a href="{{ path('fos_user_security_login') }}">авторизуйтесь</a> для продолжения работы на сайте, а если нет
        аккаунтв то пройдите <a href="{{ path('fos_user_registration_register') }}">регистрацию</a></p>
{% endblock %}
