{% extends "base.html.twig" %}

{% block title %}AppBundle:Posts:n{% endblock %}

{% block body %}
    <a href="{{ path('app_posts_tape') }}">лента</a>
    <h1>Мой профиль</h1>
    <p>Имя: {{ user.getUsername() }}</p>
    <p>Почта: {{ user.getEmail }}</p>
    <h3>Новый пост</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <h3>Мои посты</h3>
    {% for post in user.getPosts %}
        <div class="post" style="width: 250px; display: flex;">
            <img src="/images/posts/{{ post.getPostImage }}" alt="" style="max-width: 100%">
            <a href="/post/{{ post.getId }}">нравиться</a><p>{{ post.getCountLikers }}</p>
        </div>

    {% endfor %}
    <h3>Мои подписки</h3>
     <div class="followers">
         {% for follower in followers %}
             {% for post in follower.getPosts %}
                 <div class="post">
                     <div class="author">
                         <img src="/images/avatars/{{ post.author.avatar }}" class="avatar">
                         <p class="name">{{ post.author }}</p>
                     </div>
                     <img src="/images/posts/{{ post.postImage }}" class="postImage">
                     <div class="bottom">
                         <p><a href="/post/{{ post.getId }}" class="like">нравиться</a>{{ post.getCountLikers }}</p>

                             <a href="{{ path('app_posts_follower', {'id': post.author.id}) }}">отписаться</a>
                     </div>
                 </div>
             {% endfor %}
         {% endfor %}
     </div>

{% endblock %}
