{% extends "base.html.twig" %}

{% block title %}Лента{% endblock %}

{% block body %}
    <a href="{{ path('app_posts_post') }}">Мой профиль</a>
    <h1>Лента</h1>
    <div class="tape">
        {% for post in posts %}
            <div class="post">
                <div class="author">
                    <img src="/images/avatars/{{ post.author.avatar }}" class="avatar">
                    <p class="name">{{ post.author }}</p>
                </div>
                <img src="/images/posts/{{ post.postImage }}" class="postImage">
                <div class="bottom">
                    <p><a href="/post/{{ post.getId }}" class="like">нравиться</a>{{ post.getCountLikers }}</p>
                    {% if user.containsUser(post.author) %}
                        <a href="{{ path('app_posts_follower', {'id': post.author.id}) }}">отписаться</a>
                    {% else %}
                        <a href="{{ path('app_posts_follower', {'id': post.author.id}) }}">подписаться</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
