
.tape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.post{
    width: 20%;
    margin: 10px;
}
.post img{
    max-width: 100%;
    max-height: 100%;
}
.author{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
}
.author img{
    width: 50px;
    border-radius: 50%;
}